<h2>Grammar Brushstrokes</h2>
<p>Developed: Winter 2014, Informatics 117, UC Irvine</p>
<hr>
<h3>Development Team</h3>
  <ul>
    <li>Nealon Young</li>
    <li>Bianca Tamayo</li> 
    <li>Lance Mar</li>
    <li>Danny Magsalin</li> 
    <li>Yifan Zhang</li> 
    <li>Ari Suchitphanit</li> 
    <li>Derek Liang</li>

  </ul>